<section class="fullpage__section fullpage__section--footer fp-auto-height" data-bg="white">
    <section class="footer" v-if="data">
        <div class="footer__main lockout">

            <div class="footer__content">
                <div class="footer__content__address vcard">
                    <div class="footer__content__detail vcard-address" data-index="1">10 Exchange Place</div>
                    <div class="footer__content__detail vcard-address" data-index="2">11th Floor</div>
                    <div class="footer__content__detail vcard-address" data-index="3">Jersey City, NJ 07302</div>
                    <div class="footer__content__detail vcard-country-name">United States</div>

                    <div class="footer__content__detail tel">987899292</div>

                    <br /><br />
                    <a href="/contact">All Locations</a>
                </div>
                <div class="footer__content__links">
                    <a href="https://electrifai.net/news">News</a>
                    <a href="https://electrifai.net/contact">Contact</a>
                    <a href="https://electrifai.net/careers">Careers</a>
                    <a href="https://electrifai.net/faq">FAQ</a>
                </div>
                <div class="footer__content__links">
                    <a href="https://electrifai.net/privacy-policy">Privacy Policy</a>
                    <a href="https://electrifai.net/support">Support</a>
                    <a href="https://electrifai.net/terms-of-use">Terms of Use</a>
                    <a href="https://electrifai.net/ccpa">CCPA</a>
                </div>


                <div id="newsletter" class="footer__content__newsletter">
                </div>







            </div><!-- End of class="footer__content" -->
        </div><!-- End of class="footer__main lockout" -->










        <div class="copyright-share lockout">
            <div class="copyright-share__copy">
                ©2021 ElectrifAi. All Rights Reserved.
            </div>
            <div class="copyright-share__share">
                <a href="https://twitter.com/ElectrifAI" target="_blank">
                    <img src="https://electrifai.net/images/global/icon-twitter.svg" alt="Twitter" />
                </a>
                <a href="https://www.linkedin.com/company/electrifai" target="_blank">
                    <img src="https://electrifai.net/images/global/icon-linked-in.svg" alt="LinkedIn" />
                </a>
                <a href="https://www.youtube.com/channel/UCjrNN7_-NdPq5ysE4HrVPTA?disable_polymer=true" target="_blank">
                    <img src="https://electrifai.net/images/global/youtube-electrifai.svg" alt="YoutTube" />
                </a>
            </div>
        </div>

    </section>
</section>