


<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="./../assets/img/la.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="./../assets/img/ny.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="./../assets/img/chicago.jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
  
  
  
  
  <br/> <br/>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="readyMl">
    <div class="section-content">
  
      <div class="homehero">
        <section class="homehero-redesign lockout" data-fullpage-label=" ">
  
  
          <div class="hero home_hero__content">
            <div class="home_hero__left col-6 md-col-6">
              <h1 class="scroll-reveal sr-hidden hero__title" data-sr-delay="75">Why build</h1>
              <h2 class="scroll-reveal sr-hidden hero__title" data-sr-delay="75">when you can buy?</h2>
              <div class="scroll-reveal sr-hidden hero__lede" data-sr-delay="75">
                Building machine learning is risky and time-consuming. Community delivers superior, fast and
                reliable results with over 1,000 ready-to-deploy machine learning models that seamlessly
                integrate into existing workflows.
              </div>
  
              <div class="hero_stats">
                <div class="hero_stats__item">
                  <div class="hero_stats__item__container flex">
                    <h3>1K</h3>
                    <p>Machine Learning Models</p>
                  </div>
                </div>
                <div class="hero_stats__item">
                  <div class="hero_stats__item__container flex">
                    <h3>100+</h3>
                    <p>Pre-configured use cases that combine multiple models into a complete business solution
                    </p>
                  </div>
                </div>
              </div>
  
              <div class="hero__ctas">
              </div>
            </div>
  
            <div class="home_hero__right  col-6 md-col-6"
              style="background-image: url(https://electrifai.net/images/global/hero-readyml.png)">
              <div class="scroll-reveal hero__right__media sr-hidden" data-sr-distance="0" data-sr-duration="1600"
                data-sr-scale="1.25">
              </div>
            </div>
          </div>
        </section>
      </div>
  
  
  
      <section class="home-modules lockout" data-fullpage-label=" ">
  
  
  
  
        <div class="home-module home-module__values">
  
          <div class="home-module home-module__values__heading">
            <div class="scroll-reveal module__title module__title--yellow sr-hidden">
              VALUES
            </div>
          </div>
          <div class="col col-12 home-module__values__columns">
            <div class="col col-4 md-col-4 home-module__values__columns__elm">
              <h3 class="home-module__values__columns__h3">Rapid Time-to-Value</h3>
              <p>With comprehensive capabilities to deploy proven ML models, we bring you solutions faster.</p>
            </div>
            <div class="col col-4 md-col-4 home-module__values__columns__elm">
              <h3 class="home-module__values__columns__h3">Machine Learning Factory</h3>
              <p>We make the machine learning models, complete the data ingestion and clean up the data.</p>
            </div>
            <div class="col col-4 md-col-4 home-module__values__columns__elm">
              <h3 class="home-module__values__columns__h3">Real Business Value</h3>
              <p>We take our existing models to fit and combine them in a way to address your business needs.</p>
            </div>
          </div>
        </div>
  
  
  
        <div class="common-module common-module__multipleContentColumns">
          <div class="col col-12 common-module__multipleContentColumns__columns">
  
            <div class="home-module home-module__multipleContentColumns__heading">
              <div class="scroll-reveal module__title module__title--yellow sr-hidden">
                HOW IT WORKS
              </div>
            </div>
  
  
            <div class="common-module__multipleContentColumns__wrapper">
              <h2>Pre-built Models</h2>
  
              <div class="col col-12 common-module__multipleContentColumns__row">
                <div class="common-module__multipleContentColumns__row__col">
                  <h3>Pre-trained ML Models</h3>
                  <p>Pre-built and developed for a range of proven common use cases using your existing data.
                    Quickly generate reliable insights within days.</p>
                </div>
                <div class="common-module__multipleContentColumns__row__col">
                  <h3>Pre-structured ML Models</h3>
  
                  <p>Our domain experts use your existing data to train the selected model that works best for
                    your use case. Get proven results in weeks.</p>
  
                </div>
                <div class="common-module__multipleContentColumns__row__col">
                  <h3>Brand New ML Models</h3>
  
                  <p>Our data scientists precisely build the model your business needs, often leveraging existing
                    models, to get results in one or two months.</p>
  
                </div>
  
              </div>
            </div>
  
            <div class="common-module__multipleContentColumns__wrapper">
              <h2>Data Management</h2>
  
              <div class="col col-12 common-module__multipleContentColumns__row">
                <div class="common-module__multipleContentColumns__row__col">
                  <h3>Industry-Specific Feature Libraries</h3>
  
                  <p>Our vast domain expertise has been codified to make it easy to reuse and leverage our IP
                    across multiple use cases.<br /><br /></p>
  
                </div>
                <div class="common-module__multipleContentColumns__row__col">
                  <h3>Pre-built Model Configuration</h3>
  
                  <p>Our data science pipelines are low-code, allowing us to easily customize and scale. We have
                    automated full-stage data quality monitoring, model input features and model performance.</p>
  
                </div>
                <div class="common-module__multipleContentColumns__row__col">
                  <h3>Easy Deployment</h3>
  
                  <p>Our models are cloud agnostic and can be deployed across private and hybrid/cloud solutions
                    and on-premise without changing your existing workflows.</p>
  
                </div>
  
              </div>
            </div>
          </div>
        </div>
  
  
        <div class="common-module common-module__video">
  
          <div class="module__title module__title--yellow">VIDEO: COMMUNITY MACHINE LEARNING MODELS</div>
  
  
          <div class="video-wrapper">
            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/7OvushXYviY?feature=oembed"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
  
        </div>
  
  
  
        <div class="common-module common-module__imageContentColumns">
  
  
          <div class="home-module home-module__imageContentColumns__heading">
            <div class="scroll-reveal module__title module__title--yellow sr-hidden">
              UNIVERSAL USE
            </div>
          </div>
  
          <div class="col col-12 common-module__imageContentColumns__headline">
            <h2>Best Tools Across Industries</h2>
          </div>
  
          <div class="col col-12 common-module__imageContentColumns__columns">
            <div class="common-module__imageContentColumns__columns__item">
              <div class="common-module__imageContentColumns__columns__item__image">
                <a href="https://electrifai.net/industries" target="">
                  <img src="https://electrifai.net/images/global/Screen-Shot-2020-08-14-at-11.54.40-AM.png"
                    alt="Screen Shot 2020 08 14 at 11 54 40 AM" />
                </a>
              </div>
  
              <a href="https://electrifai.net/industries" target="">
                <h3 class="common-module__imageContentColumns__columns__item__title">Public Services</h3>
              </a>
  
              <div class="common-module__imageContentColumns__columns__item__body">
                <ul>
                  <li>Higher Education</li>
                  <li>Healthcare</li>
                  <li>Federal Civilian &amp; State</li>
                </ul>
              </div>
  
            </div>
            <div class="common-module__imageContentColumns__columns__item">
              <div class="common-module__imageContentColumns__columns__item__image">
                <img src="https://electrifai.net/images/global/Screen-Shot-2020-08-14-at-11.54.54-AM.png"
                  alt="Screen Shot 2020 08 14 at 11 54 54 AM" />
              </div>
  
              <h3 class="common-module__imageContentColumns__columns__item__title">Financial Services</h3>
  
              <div class="common-module__imageContentColumns__columns__item__body">
                <ul>
                  <li>Banking</li>
                  <li>Insurance</li>
                </ul>
              </div>
  
            </div>
            <div class="common-module__imageContentColumns__columns__item">
              <div class="common-module__imageContentColumns__columns__item__image">
                <img src="https://electrifai.net/images/global/Screen-Shot-2020-08-14-at-11.55.08-AM.png"
                  alt="Screen Shot 2020 08 14 at 11 55 08 AM" />
              </div>
  
              <h3 class="common-module__imageContentColumns__columns__item__title">Consumer</h3>
  
              <div class="common-module__imageContentColumns__columns__item__body">
                <ul>
                  <li>Retail</li>
                  <li>Life Sciences</li>
                  <li>Manufacturing</li>
                  <li>Consumer Product</li>
                </ul>
              </div>
  
            </div>
            <div class="common-module__imageContentColumns__columns__item">
              <div class="common-module__imageContentColumns__columns__item__image">
                <img src="https://electrifai.net/images/global/Screen-Shot-2020-08-14-at-11.55.15-AM.png"
                  alt="Screen Shot 2020 08 14 at 11 55 15 AM" />
              </div>
  
              <h3 class="common-module__imageContentColumns__columns__item__title">Service Industry</h3>
  
              <div class="common-module__imageContentColumns__columns__item__body">
                <ul>
                  <li>Airlines</li>
                  <li>Engineering &amp; Construction</li>
                  <li>Travel &amp; Transportation</li>
                </ul>
              </div>
  
            </div>
            <div class="common-module__imageContentColumns__columns__item">
              <div class="common-module__imageContentColumns__columns__item__image">
                <img src="https://electrifai.net/images/global/Screen-Shot-2020-08-14-at-11.54.40-AM.png"
                  alt="Screen Shot 2020 08 14 at 11 54 40 AM" />
              </div>
  
              <h3 class="common-module__imageContentColumns__columns__item__title">Natural Resources</h3>
  
              <div class="common-module__imageContentColumns__columns__item__body">
                <ul>
                  <li>Oil &amp; Gas</li>
                  <li>Chemicals</li>
                  <li>Energy &amp; Utilities</li>
                </ul>
              </div>
  
            </div>
          </div>
  
          <div class="col col-12 common-module__imageContentColumns__cta">
            <a href="https://electrifai.net/industries" class="cta caps" target="">
              <div class="scroll-reveal sr-hidden btn btn--underline">
                See all industries
              </div>
            </a>
          </div>
        </div>
  
  
      </section>
  
  
  
  
    </div>
  </div>
  
  
  
  